.organization {
  margin-bottom: 40px;
}
.org_top_action {
  border: solid #ccc4c4;
  border-width: 0 0 1px 0;
  background: #fff;
  padding: 10px;
  text-align: center;
  margin-top: -5px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.org_import_action {
  float: right;
}

.org_other_action img {
  cursor: pointer;
}
.org_other_action .othr_act {
  display: inline-flex;
  cursor: pointer;
}
.org_other_action {
  display: inline-flex;
  align-items: center;
}

.org_other_action .ant-divider-vertical {
  top: 0;
  border-left: 2px solid grey;
}

.org_import_action img {
  height: 22px;
  margin-right: 13px;
  cursor: pointer;
}

.org_import_action{
  display: inline-flex;
  align-items: center;
}
.org_import_action .imp_act {
  display: inline-flex;
  height: 22px;
  margin-right: 13px;
  cursor: pointer;
}

.org-table-row .ant-table-thead > tr > th {
  background: #e5e9ec !important;
  color: #1a1d20 !important;
}

.org-table-row .ant-table-tbody > tr > td {
  background: #fff !important;
  color: #1a1d20 !important;
}
.org-table-row .ant-table-tbody > tr > td,
.org-table-row .ant-table-thead > tr > th {
  border: solid #f0f2f5;
  border-width: 2px 0 2px 0;
}

.org-table-row .ant-table-thead > tr > th:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.org-table-row .ant-table-thead > tr > th:first-child {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.org-table-row .ant-table-tbody > tr > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.org-table-row .ant-table-tbody > tr > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.org-table-row .ant-table-body table,
.org-table-row .ant-table-header table {
  background: #f0f2f5 !important;
}

.org-table-row .tbl-col {
  padding: 20px;
}

.org-tbl .ant-table-container ::-webkit-scrollbar {
  width: 5px !important;
  height: 10px;
}

.org-tbl .ant-table-container ::-webkit-scrollbar-thumb {
  background: grey;
}

.ant-table-filter-dropdown .orgFilterForm {
  padding: 10px 10px 1px 10px;
}

.ant-table-filter-dropdown .orgFilterForm .ant-form-item {
  margin-bottom: 10px;
}

.ant-table-filter-dropdown .orgFilterForm .ant-divider-horizontal {
  margin: 10px 0;
}

.ant-table-filter-dropdown .orgFilterForm .filterBtnGrp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.org-tbl .ant-table-container .ant-table-cell-scrollbar {
  box-shadow: unset;
}

/* :::::::::::::::::::::: Responsive CSS Code Start ::::::::::::::::::::::::::: */

/* Mobile devices */
@media screen and (max-device-width: 480px) {
  .org-table-row .tbl-col {
    padding: 10px;
  }
}
/* iPads, Tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
}
/* Small screens, laptops */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* Desktops, large screens */
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
/* Extra large screens, TV */
@media screen and (min-device-width: 1201px) {
}

/* :::::::::::::::::::::: Responsive CSS Code End ::::::::::::::::::::::::::: */